.robotoFont {
  font-family: "Roboto Condensed", sans-serif;
}
.alataFont {
  font-family: "Alata", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
  padding: 40px 35px;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slideItem {
  box-shadow: 0px 0px 30px -2px #00000040;
  border-radius: 20px;
}

.swiper-button-prev,
.swiper-button-next {
  background: radial-gradient(50% 50% at 50% 50%, #fe7d15 0%, #fb4738 100%);
  box-shadow: 0px 0px 8.7px 0px #00000040;
  color: white;
  font-weight: bold;
  border-radius: 100px;
  @apply size-[32px] lg:size-[95px] border-[2px] lg:border-[6px] border-white;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  @apply text-[10px] lg:text-[32px];
}

.swiper-slide {
  transition: transform 0.5s ease-in-out;
}
@media screen and (width > 768px) {
  .swiper-slide-active {
    position: relative;
    transform: translateY(-35px);
    transition: transform 0.5s ease-in-out;
  }
}

.sliderArrow {
  background: radial-gradient(50% 50% at 50% 50%, #fe7d15 0%, #fb4738 100%);
}
.slideIcon {
  @apply text-[#FB4738];
}

.slideHeading {
  @apply robotoFont text-primary text-center font-bold text-[20px] leading-[23px] lg:text-[50px] lg:leading-[59px];
}

.slideIconBox {
  @apply border-[3px] lg:border-[5px] p-5 lg:p-11;
  position: relative;
  border-color: #441355b7;
  background-color: #ebeeea;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
