@import url("https://fonts.googleapis.com/css2?family=Alata&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

.robotoFont {
  font-family: "Roboto Condensed", sans-serif;
}
.alataFont {
  font-family: "Alata", sans-serif;
}
.navLink {
  @apply robotoFont text-black font-medium text-[30px] leading-[45px];
}
.primaryBtn {
  background: linear-gradient(to right, #fb4738, #fe7d15);
  @apply text-white p-[6px_12px] font-bold text-[12px] lg:p-[12px_26px] lg:text-[25px] rounded-[100px];
}
.heading {
  @apply robotoFont text-primary font-bold text-[35px] leading-[39px] md:text-[80px] md:leading-[100px] lg:text-[100px] lg:leading-[120px] lg:tracking-tight;
}
.desc {
  @apply alataFont text-secondary font-normal text-[15px] leading-[22px] md:text-[30px] md:leading-[45px];
}
.seeMoreBtn {
  @apply alataFont text-black font-normal text-[15px] leading-[22px] lg:text-[30px] lg:leading-[45px] underline;
}

.sliderArrow {
  background: radial-gradient(50% 50% at 50% 50%, #fe7d15 0%, #fb4738 100%);
}
.slideIcon {
  @apply text-[#FB4738];
}

.slideHeading {
  @apply robotoFont text-primary text-center font-bold text-[20px] leading-[23px] lg:text-[50px] lg:leading-[59px];
}

.slideIconBox {
  border-image-source: linear-gradient(
    360deg,
    #441355 100%,
    rgba(112, 59, 175, 0) 72.95%
  );
  background-color: #ebeeea;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @apply border-[3px] p-5 lg:p-11;
}
